.choose-avatar-section {
    width: 100%;
    display: flex; flex-flow: column;
}

.instruction-avatar {
    width: 100%;
    padding: 40px 60px;
    display: flex; align-items: center; justify-content: flex-start;
    color: white;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.avatars-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
    grid-template-rows: repeat(auto-fit, minmax(230px, 230px));
    column-gap: 10px; row-gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 50px 40px 50px;
}